.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.codeEditorCon{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.funButton{
  width: 150px;
  height: 50px;
  margin-left: 10px;
  
}

.buttonCon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.textEditorCon{
  margin-top: 10px;
  width: 40%;
}
.codeEditor {
  font-family: 'Courier New', Courier, monospace; /* Use a monospace font */
  font-size: 16px; /* Set the font size */
  line-height: 1.5; /* Set the line height */
  color: #f8f8f2; /* Set the text color */
  background-color: #282a36; /* Set the background color */
  border: none; /* Remove the border */
  padding: 20px; /* Add some padding */
  resize: none; /* Disable resizing */
  position: relative; /* Set position to relative for line numbers */
  height: 75vh;
  width: 100%;
}

.codeEditor:before {
  content: ""; /* Empty content for pseudo-element */
  display: inline-block; /* Make it an inline block element */
  width: 40px; /* Set the width for line numbers */
  position: absolute; /* Set position to absolute for line numbers */
  left: 0; /* Set left position to align with textarea */
  top: 0; /* Set top position to align with textarea */
  bottom: 0; /* Set bottom position to align with textarea */
  padding: 20px 0 20px 10px; /* Add padding for line numbers */
  font-size: 16px; /* Set the font size for line numbers */
  color: #6272a4; /* Set the color for line numbers */
  text-align: right; /* Align text to the right */
  pointer-events: none; /* Ignore pointer events for line numbers */
}
